In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
filepath = "/Users/avinashkumar/Desktop/Analysis Project/python-challenge/Starter_Code/PyPoll/Resources/election_data.csv"

In [3]:
df = pd.read_csv(filepath, low_memory=False)

In [4]:
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [5]:
df.tail()

        Ballot ID    County             Candidate
369706    4714953  Arapahoe  Raymon Anthony Doane
369707    4497542  Arapahoe  Raymon Anthony Doane
369708    4085849  Arapahoe  Raymon Anthony Doane
369709    4592018  Arapahoe  Raymon Anthony Doane
369710    4660518  Arapahoe  Raymon Anthony Doane

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369711 entries, 0 to 369710
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Ballot ID  369711 non-null  int64
 1   County     369711 non-null  object
 2   Candidate  369711 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.5+ MB